.site-search {
    margin-top: 50px;
    width: 100%;
    margin: 0 auto;
    
    .form-group {
        position: relative;
    }

    input {
        padding: 25px 10px;
        position: relative;
        border-radius: 5px 0 0 5px;
        z-index: 8;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
        background: #3498DB;
        border: none;
        width: 80px;
        border-radius: 0 5px 5px 0;
        height: 52px;
        padding-top: 5px;
        
        @include tablet {
            width: 150px;
        }

        svg {
            fill: #fff;
        }
    }
}