#dashboard-book {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    font-size: 150%;

    h3 {
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 20px;
    }
}

.borrower-table {
    cursor: pointer;
}

.book-option-wrapper {
    border: 1px solid salmon;
    margin-top: 50px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 264px;
    height: 200px;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

@mixin clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

$background: #141241;
$switchbg: #1bbc9b;
$white: #ffffff;

    .switch {
        background-color: $tertiary-color;
        display: inline-block;
        border-radius: 10px;
        height: 40px;
        padding: 5px;
        position: relative;
        width: 100%;

        @include clearfix;

        label {
            float: left;
            width: 1 / 3 * 100%;
            position: relative;
            z-index: 2;
            line-height: 30px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &.active {
                background: $primary-color;
                border-radius: 10px;
                color: #fff;
                
            } 
        }
        input[type="radio"] {
            display: none;

            &:checked + label {
            font-weight: bold;
        }
    }
    
}
    